* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: monospace;
}

section {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0px;
}

.first {
    background-image: url("galaxy4k.jpeg");
    background-position: center;
    color: white;
    min-height: 100vh;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 6vw;
    font-weight: 600;
    margin: 0, 20;
}

.h3 {
    font-size: 125%;
}

.title p {
    font-size: 125%;
    margin: 0, 20;
}


a.button{
    display:inline-block;
    padding: 0.5em 1.5em;
    border: 0.1em solid white;
    margin: 0.5em 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    font-size: 125%;
    font-weight: 300;
    color: white;
    text-align:center;
    transition: all 0.5s;
    text-decoration: none;
}
    
a.button:hover{
    color: black;
    background-color: white;
}
.second {
    text-align: left;
}

.third {
    color: white;
    background-image: url("galaxy4k.jpeg");
    background-position: left;
    text-align: left;
}

.blur {
    backdrop-filter: blur(6px);
    height: 100%;
    width: 100%;
}

.sources {
    text-align: center;
}

