* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: monospace;
}

nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,0.5);
    padding: 0 100px;
}

nav ul {
    float: right;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    position: relative;
    display: block;
    color: white;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    background-color: #07033b93;
    color: rgb(255, 255, 255);
    top: 2px;
    transition: 0.5s;
  }

section {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0px;
    list-style-type: none;
}

.first {
    background-image: url("galaxy4k.jpeg");
    background-position: center;
    color: white;
    min-height: 100vh;
}

.pro-first {
    background-image: url("ocean.jpeg.jpg");
    background-position: center;
    color: white;
    min-height: 100vh;
}

.in-first {
    background-image: url("snowmountain.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
}

.dash-first {
    background-image: url("scenery.jpg");
    background-position: center left;
    color: white;
    min-height: 100vh;
}
.title {
    text-align: center;
}

.title h2 {
    font-size: 6vw;
    font-weight: 600;
    margin: 0, 20;
}

.h3 {
    font-size: 125%;
}

.title p {
    font-size: 125%;
    margin: 0, 20;
}


a.button{
    display:inline-block;
    padding: 0.5em 1.5em;
    border: 0.1em solid white;
    margin: 0.5em 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    font-size: 125%;
    font-weight: 300;
    color: white;
    text-align:center;
    transition: all 0.5s;
    text-decoration: none;
}
    
a.button:hover{
    color: black;
    background-color: white;
}
.second {
    text-align: left;
}

.third, .pro-third {
    background-position: left;
}

.third, .fifth, .seventh {
    color: white;
    background-image: url("galaxy4k.jpeg");
    text-align: left;
}

.blur {
    backdrop-filter: blur(6px);
    height: 100%;
    width: 100%;
}

.sources {
    text-align: center;
}

.fifth {
    background-position: right top;
}
.pro-fifth {
    background-position: bottom right;
}

.seventh, .pro-seventh {
    background-position: bottom left;
}

ul {
    list-style: none !important;
}

.pro-third, .pro-fifth {
    color: white;
    background-image: url("ocean.jpeg.jpg");
    text-align: left;
}

.in-third {
    color: white;
    background-image: url("snowmountain.jpg");
    text-align: left;
    background-position: right;
}

.dash-third {
    color: white;
    background-image: url("scenery.jpg");
    text-align: left;
    background-position: top left;
}

.presetimg {
    margin: auto;
    width: 40%;
    height: 350px;
}

sources1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
}

a.button2{
    display:inline-block;
    padding: 0.5em 1.5em;
    border: 0.1em solid rgb(0, 0, 0);
    margin: 0.5em 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    font-size: 125%;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-align:center;
    transition: all 0.5s;
    text-decoration: none;
}
    
a.button2:hover{
    color: rgb(255, 255, 255);
    border: 0.5em white;
    font-size: 175%;
    background: #A378B7;
    background: -webkit-linear-gradient(top left, #A378B7, #5dcde9);
    background: -moz-linear-gradient(top left, #A378B7, #5dcde9);
    background: linear-gradient(to bottom right, #A378B7, #5dcde9);
}

.presetimg2 {
    height: 128px;
    margin: auto;
    width: 30%;
}

.presetimg3 {
    height: 128px;
    margin: auto;
    width: 40%;
}

.table {
    border: 1px solid white;
    margin: auto;
    z-index: 9999;
    font-size: 125%;
}

.table tr:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

.meter {
    height: 200%;
    background: rgb(139, 139, 139);
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    font-size: 125%;
    margin: auto;
    margin-top: 10px;
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(8, 241, 191);
    text-align: center;
    color: white;
    overflow: hidden;
  }