* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: monospace;
}

section {
    position: relative;
    background-image: url("galaxy4k.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0px;
    color: white;
}

section .title {
    text-align: center;
}

section .title h2 {
    font-size: 6vw;
    font-weight: 600;
}

section .title p {
    font-size: 125%;
}

section .button {
    height: 20px;
    width: 20px;
}

.button definition {

}

.button theorie {

}